body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #27383e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiAppBar-colorPrimary {
  background-color: rgb(24,27,36) !important;
}
.full-app{

}
.content-wrap{

}
.main-footer{

}
.footer-title{
  color: white
}
.footer-column{
  margin: 0px 15px
}
.list-unstyled{
  display: flex;
flex-direction: column;
align-items: center;
font-size: 24px
}
.check-circle{
  color: #66b8aa;
}
.appbar-button{
  background-color: rgb(24,27,36) !important;
  border: 0px !important;
  font-family: 'Quicksand', sans-serif !important;
  color: white !important;
  text-transform: none !important;
  font-size: 100% !important;
  box-shadow: none !important;
  padding: 6px 16px !important;
}
.appbar-button:hover{
  filter: brightness(120%)
}
.edit-personal-button:hover{
  filter: brightness(105%)
}

.MuiDrawer-paper{
  width: 20vw !important;
}

.MuiMenu-paper ul{
  display: flex;
  flex-direction: column;
}
.MuiMenu-paper li{

    font-size: 1.28rem;

}
.quicksand-font{
  font-family: Quicksand, sans-serif
}
.yellow-font{
  color: 	#cb861a !important;
}
.service-button{
  padding: 10px;
  background-color: grey;
  border-radius: 5px;
  margin: 0 5px 0 5px;
  width: 6vw
}

.sidebar-list-item{
  padding-left: 5px !important;
}
.MuiListItemIcon-root{
  min-width: 40px !important;
}

.MuiTypography-body1{
  font-size: 1.5rem !important;
}

.on-hover{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.on-hover:hover{
  cursor: pointer;
  filter: brightness(95%)
}
.mousedown{
  filter: brightness(90%) !important;
}
.button-on{
  border: 2px solid green !important;
  background-color: #90EE90 !important;
}
.check-circle{
  color: #419f38 !important;
  position: absolute !important;
  pointer-events: none;
}
.modal-style{
  height: auto;
  background: white;
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 55vw;
  margin: auto;
  margin-top: 8%;
  padding: 15px;
  background-color: #27383e;
}
.carousel-title{
  color: white;
  margin-left: 4vw;
}
.containerflex{
  display: flex;
}
.modal-img{
  height: 24vw;
  width: 15vw;
}
.genres-li{
  margin-left: 10px;
  font-size: 1.5rem;
  display: inline-block;
}
.genres-title{
  align-items: center;
    text-align: center;
    display: flex;
    font-weight: bold;
}
.divider{
  border: 1px solid black;
  width: 100%;
  max-height: 1px;
  background-color: #cb861a;
  border-color: #cb861a;
}
.filler-div-icon{
  background-color: grey;
  height: 30px;
  width: 80px;
  margin-left: 15px;
}
.services-modal-style{
  width: 50vw !important;

}
.simple-modal-title{
  margin-top: 0px;
  font-size: 3rem;
}
.favorite-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.favorite:hover{
  filter: brightness(100%) !important;
  cursor: pointer;
}
.favorite-option{
  color: grey;
  width: 2vw;
  height: 2vw;
}
.favorite-option:hover{
  filter: brightness(150%) !important;
  cursor: pointer;

}
.favorite{
  width: 2vw;
  height: 2vw;
  color: red
}
.favorite-bookmark{
  width: 2vw;
  height: 2vw;
  color: #cb861a
}
.favorite-bookmark:hover{
  filter: brightness(150%) !important;
  cursor: pointer;

}
.title-holder{
  display: flex
}
.serviceImg:hover{
  filter: brightness(150%);
}
.edit-holder{
  display: flex;
}
.display-personal{
  min-width: 35%;
  flex-direction: column;
}
.edit-labels{
  margin-left: 10px;
  font-size: 1.5rem
}
.personal-icons{
  height: 100%;
    width: 2.5vw;
}
.personal-info-holder{
  display: flex;
  align-items: center;
  height: 3vw
}
.text-input-edit{
  height: 3vw !important;
  margin-bottom: 0px !important
}

.MuiSelect-nativeInput{
  margin-bottom: 0px !important
}
.edit-personal{
  width: 20vw
}
.edit-personal-button{
  color: #fff !important;
  background-color: #3f51b5 !important;
  padding: 7px 10px !important;
  border-radius: 5px !important;
}
.modal-button-container{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5%;
    margin-right: 5%;
}
.toolbar {
  padding-left: 0px !important;
  width: 100%;
}
.navbaricon {
  margin-right: 0 !important;
}
.title-logo {
  font-family: "Momcake", serif;
  src: local("Momcake-bold");
  font-size: 7vh !important;
  white-space: nowrap;
  margin-top: ;
}

.navbar-ul {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 100%;
}

.navbar-ul li {
  color: white !important;
}
.links {
  margin-right: 20px;
}
.logo-holder {
  width: 30%;
  min-width: 400px;
  margin: 0 auto;
  align-items: center;
  overflow: visible;
}
.popcorn-img {
  height: 8vh;
  width: 5vw;
  margin-right: -15px;
}
.sidebar-button{
  width: 4vw !important;
  height: 4vw !important;
  margin-top: 7px !important;
  margin-bottom: 5px !important;
  margin-left: 0px !important;
}

.title-header{
    display: flex;
    align-items: center;

}

.nav-wrapper {
  height: 9vh;
}
.arrow-icon {
  margin-top: 1.5vh !important;
  margin-left: 10px;
}
.search-icon {
  margin-top: 1.5vh;
}
.search-button-icon {
  font-size: 3.5vw !important;
  max-width: 50%;
  width: 6vw !important;
}
.search-icon-dashboard {
  margin-top: 1vh;
  cursor: pointer;
  height: auto;
}
.search-h5 {
  margin-left: 10px;
}
.icon-holder-search {
  display: flex;
  align-items: stretch;
  border-radius: 0 30px 30px 0 !important;
  cursor: pointer;
}

.vertical-align-container {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.vertical-align-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(109, 184, 102);
  border-radius: 34px !important;
  border: solid 0px !important;
  box-shadow: none !important;

}
.nav-wrapper {
  background-color: rgb(24,27,36) !important;
}
.sidebar{
  width: auto;
}

.standard-li-height a button {
  height: 9vh;
}

.li-height {
  height: 9vh;
}
.li-height div {
  font-size: 2vw;
  color: white;
}
.dashboard-button {
  padding-left: 20vh;
  padding-right: 20vh;
  background-color: #cb861a;
}

.dashboard-container {
  padding-top: 30vh;
}

#search-div {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px !important;
  margin-top: 2rem;
  /* margin-top: 10vh; */
  min-width: 52vw;
  max-width: 21vw;
}

.main-search {
  margin-bottom: 0px !important
}

#search-div input {
  min-height: 2vw;
  font-size: 2vw;
  display: flex;
  color: black;
}

#dashboard-search {
  border: 0px;
  margin-left: 2vh;
  font-size: 1em;
  align-self: center
}
.input-search-container{
  display: flex;
  width: 100%;
  max-height: 3.5vw
}
#dashboard-search:focus {
  border: 0px !important;
  box-shadow: none;
}
#dashboard-search::placeholder {
  color: grey;
  font-size: 1.2em;
}

.signup-btn {
  background-color: #cb861a;
}

.padding-top {
  padding-top: 20px;
}

.featured-movie {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.main-carousel:hover{
  cursor: pointer;
}
.featured-title {
  font-size: 4vw;
  margin-top: 10px;
  margin-bottom: 10px;
}
.featured-media-title {
  font-size: 3vw;
}
.featured-movie-block {
  display: flex;
  background-color: #27383e;
  border-radius: 0.1em;
  padding: 5vh;
  width: 100%;
  height: auto;
  justify-content: center;
}
.featuredImg {
  border-radius: 1em;
  width: 1vw;
}

.genres-div {
  height: auto;
  margin-top: 0.5vw;
  border-radius: 2px;
}
.genres-div ul {
  font-size: 1.5vw;
}
.featured-media-genres-title {
  color: #cb861a;
  font-size: 3vw;
}

.title-and-joint-holder {
  padding-left: 3vw;
}

.joint-holder {
  display: flex;
  flex-direction: row;
}

.available-on-div {
  margin-top: 0.5vw;
  margin-left: 2vw;
}

.available-on-div img {
  height: 5vw;
  width: 8vw;
}

.account-button {
  background-color: #cb861a;
}
.cog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.settings-cog {
  margin-top: 0.5vw;
}
.settings-container {
  margin-top: 2vw;
}
.account-button-big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 6rem;
  height: auto;
  min-width: 13vw;
  min-height: 13vw;
  background-color: #cb861a;
}

.edit-icon {
  margin-left: 1vw;
  font-size: 2vw;
  cursor: pointer;
}
.account-block {
  display: flex;
  background-color: #27383e;
  border-radius: 0.1em;
  padding: 5vh;
}
.info-holder {
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
}
.settings-titles {
  color: #cb861a;
  font-size: 2vw;
}
.account-info-holder {
  display: flex;
}
.email-field {
  margin-top: 2.5vh;
  margin-left: 1vw;
  font-size: 1.5vw;
}
.extra-info {
  margin-top: 2.5vh;
  color: white;
  border: 1px solid grey;
  border-radius: 200px;
  padding-bottom: 1.5vw;

  font-size: 1vw;
  height: 0.6vw;
  width: 1.2vw;
  margin-left: 0.3vw;
}

.change-password {
  display: inline-block;
  border-bottom: 2px solid;
  border-color: white;
  color: white;
  cursor: pointer;
  margin-top: 1vw;
}

.field-icon {
  font-size: 1.5vw;
  margin-top: 2.5vh;
}

.country-explainer {
  height: 2vw;
  position: fixed;
  margin-left: 12vw;
  font-size: 1.5vw;
  background-color: #ffdb84;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
.change-color {
  position: fixed;
}
.form-container {
  background-color: white;
  width: 30vw;
  height: 18vh;
  padding: 10px;
}
.search-card{
  margin-top: 15px !important;
}
.card{
  display:flex;
  width: 100%;
  max-width: 15vw;
  height: 350px;
  background: #333;
  font-size: 12rem;
  margin: 0 20px;
  justify-content: center;
  color: white;
  text-align: center
}
.card:hover{
  cursor: pointer;
}
.loading-card{
  background-color: #666666 !important;
}
.card-valid{
  background-size: 100% 100%;
}



.Carousel-next-11 {
  float: right;
}
.menu-container{
  height: auto;
  margin-top: 20px;
  background-color: #cb861a;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
}
.search-dashboard{
  display: flex;
  flex-direction: column;
}
.closed-menu{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  align-items: center;
  text-align: center;
  height: 100%;
  background-color: #cb861a
}
.closed-menu:hover{
  cursor: pointer;
  filter: brightness(105%) !important;

}
.expand-icon{
  width: 2.5rem !important;
    height: 2.5rem !important;
    margin-right: 20px;
}
.search-title{
  font-size: 95%;
    font-weight: bold;
}
.search-settings{
  min-height: 200px;
  background-color: #cb861a;
  width: 100%
}
.search-settings-hidden{
  display: none
}
.search-card-holder{
  margin: 3vw 5vw;

}
.browse-button-holder{
  display: flex;
justify-content: center;
margin-top: 10px;
}
.form-containerr{
  margin: 0 10%
}
.form-all-container{
  display: flex;
}
.form-left-container{
}
.genre-button-holder{
  display: flex;
  flex-wrap: wrap;

}
.Carousel-indicator-3 {
  width: 2vw !important;
  height: 2vw !important;
}
.genre-button{
  margin: 5px 10px;
  padding: 5px 15px;
  background-color: 	#27383e;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  border: 3px solid #cb861a
}
.genre-button:hover{
  filter: brightness(105%);
  cursor: pointer
}
.search-submit-button{
  background-color: 	#ffdb84 !important;
  border-radius: 10px !important;
  padding: 10px 15px !important;
  margin: 10px 0 !important;

}
.submit-button-holder{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.genre-border{
  border: 3px solid white;
  background-color: #3b555e
}
.form-right-container{
    margin-left: 5vw;
}
.favorite-card-holder{
  display: flex;
  flex-direction: row;
}
.favorites-title{
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  background-color: #cb861a
}
#settings-input{
  width: 100%
}
.inner-search-card-holder{
  display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.menu{
  height: 200px;
  display: inline-block;
}
.DIuaA{
  height: 15px !important;
  width: 15px !important;
}
.gUWalH{
  height: 15px !important;
  width: 15px !important;
}
.red-color {
  background-color: #460b0b;
}
.yellow-color {
  background-color: #cb861a;
}
.light-color {
  background-color: #ffdb84;
}
.save-color {
  margin-top: 5px;
}

.close-icon {
  cursor: pointer;
}
