body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6e6e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiAppBar-colorPrimary {
  background-color: rgb(109, 184, 102) !important;
}
.check-circle{
  color: #66b8aa;
}
.appbar-button{
  background-color: rgb(109, 184, 102) !important;
  border: 0px !important;
  font-family: 'Quicksand', sans-serif !important;
  color: white !important;
  text-transform: none !important;
  font-size: 1.5rem !important;
  box-shadow: none !important;
}
.appbar-button:hover{
  filter: brightness(105%)
}

.modal-style{
  height: auto;
  background: white;
  width: 35vw;
  margin: auto;
  margin-top: 16%;
  padding: 15px
}

#simple-modal-title{
  margin-top: 0px;
}
.edit-holder{
  display: flex;
}
.display-personal{
  min-width: 45%;
  flex-direction: column;
}
.edit-labels{
  margin-left: 10px;
  font-size: 1.5rem
}
.personal-icons{
  height: 100%;
    width: 2.5vw;
}
.personal-info-holder{
  display: flex;
  align-items: center;
  height: 3vw
}
.text-input-edit{
  height: 2.5vw !important;
}
.edit-personal-button{

}
.toolbar {
  padding-left: 0px !important;
  width: 100%;
}
.navbaricon {
  margin-right: 0 !important;
}
.title-logo {
  font-family: "Momcake", serif;
  src: local("Momcake-bold");
  font-size: 7vh !important;
  white-space: nowrap;
  margin-top: ;
}

.navbar-ul {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 100%;
}

.navbar-ul li {
  color: white !important;
  margin-right: 1.5vw;
}
.links {
  margin-right: 20px;
}
.logo-holder {
  width: 30%;
  min-width: 400px;
  margin: 0 auto;
  align-items: center;
  overflow: visible;
}
.popcorn-img {
  height: 8vh;
  width: 5vw;
  margin-right: -15px;
}
.sidebar-button{
  width: 4vw;
  height: 4vw;
  margin-top: 7px !important;
  margin-bottom: 5px !important;
}

.title-header{
    display: flex;
    align-items: center;

}

.nav-wrapper {
  height: 9vh;
}
.arrow-icon {
  margin-top: 1.5vh !important;
  margin-left: 10px;
}
.search-icon {
  margin-top: 1.5vh;
}
.search-button-icon {
  font-size: 4vw !important;
  max-width: 50%;
}
.search-icon-dashboard {
  margin-top: 1vh;
  cursor: pointer;
  height: auto;
}
.search-h5 {
  margin-left: 10px;
}
.icon-holder-search {
  display: flex;
  align-items: stretch;
  border-radius: 0 30px 30px 0 !important;
  cursor: pointer;
}

.vertical-align-container {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.vertical-align-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(109, 184, 102);
}
.nav-wrapper {
  background-color: #27383e !important;
}
.sidebar{
  width: auto;
}

.standard-li-height a button {
  height: 9vh;
}

.li-height {
  height: 9vh;
}
.li-height div {
  font-size: 2vw;
  color: white;
}
.dashboard-button {
  padding-left: 20vh;
  padding-right: 20vh;
  background-color: #cb861a;
}

.dashboard-container {
  padding-top: 30vh;
}

#search-div {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px !important;
  margin-top: 2rem;
  /* margin-top: 10vh; */
  min-width: 50vw;
}

.main-search {
}

#search-div input {
  min-height: 2vw;
  font-size: 2vw;
  display: flex;
  color: black;
}

#dashboard-search {
  border: 0px;
  margin-left: 2vh;
  margin-top: 2.5vh;
  font-size: 1em;
}

#dashboard-search:focus {
  border: 0px !important;
  box-shadow: none;
}
#dashboard-search::placeholder {
  color: grey;
  font-size: 1.2em;
}

.signup-btn {
  background-color: #cb861a;
}

.padding-top {
  padding-top: 20px;
}

.featured-movie {
  margin-top: 20px;
  margin-bottom: 500px;
}
.featured-title {
  font-size: 4vw;
  margin-top: 10px;
  margin-bottom: 10px;
}
.featured-media-title {
  font-size: 3vw;
}
.featured-movie-block {
  display: flex;
  background-color: #27383e;
  border-radius: 0.1em;
  padding: 5vh;
  width: 100%;
  height: auto;
  justify-content: center;
}
.featuredImg {
  border-radius: 1em;
  width: 1vw;
}

.genres-div {
  height: auto;
  margin-top: 0.5vw;
  border-radius: 2px;
}
.genres-div ul {
  font-size: 1.5vw;
}
.featured-media-genres-title {
  color: #cb861a;
  font-size: 3vw;
}

.title-and-joint-holder {
  padding-left: 3vw;
}

.joint-holder {
  display: flex;
  flex-direction: row;
}

.available-on-div {
  margin-top: 0.5vw;
  margin-left: 2vw;
}

.available-on-div img {
  height: 5vw;
  width: 8vw;
}

.account-button {
  background-color: #cb861a;
}
.cog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.settings-cog {
  margin-top: 0.5vw;
}
.settings-container {
  margin-top: 2vw;
}
.account-button-big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 6rem;
  min-width: 15vw;
  height: auto;
  min-width: 16vw;
  min-height: 16vw;
  background-color: #cb861a;
}

.edit-icon {
  margin-left: 1vw;
  font-size: 2vw;
  cursor: pointer;
}
.account-block {
  display: flex;
  background-color: #27383e;
  border-radius: 0.1em;
  padding: 5vh;
}
.info-holder {
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
}
.settings-titles {
  color: #cb861a;
  font-size: 2vw;
}
.account-info-holder {
  display: flex;
}
.email-field {
  margin-top: 2.5vh;
  margin-left: 1vw;
  font-size: 1.5vw;
}
.extra-info {
  margin-top: 2.5vh;
  color: white;
  border: 1px solid grey;
  border-radius: 200px;
  padding-bottom: 1.5vw;

  font-size: 1vw;
  height: 0.6vw;
  width: 1.2vw;
  margin-left: 0.3vw;
}
.change-password {
  display: inline-block;
  border-bottom: 2px solid;
  border-color: white;
  color: white;
  cursor: pointer;
  margin-top: 1vw;
}

.field-icon {
  font-size: 1.5vw;
  margin-top: 2.5vh;
}

.country-explainer {
  height: 2vw;
  position: fixed;
  margin-left: 12vw;
  font-size: 1.5vw;
  background-color: #ffdb84;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
.change-color {
  position: fixed;
}
.form-container {
  background-color: white;
  width: 30vw;
  height: 18vh;
  padding: 10px;
}

.red-color {
  background-color: #460b0b;
}
.yellow-color {
  background-color: #cb861a;
}
.light-color {
  background-color: #ffdb84;
}
.save-color {
  margin-top: 5px;
}
.close-icon {
  cursor: pointer;
}

input[type="text"]:not(.browser-default) {
}
